<main%- include('../partials/header') %>
<main>
    <h1>Something Went Wrong</h1>
    <p>We are experinacing technical difficulties. Our ream has been notified and is working to fix the issue. </p>

    < if (NODE_ENV === 'development') { %>
        <details open>
            <summary>Error Details (Development Only)</summary>
            <pre><%= error %></pre>
            <pre><%= error %></pre>
        </details>
    <% } %>
</main>
<%-include('../partials/footer') %>